#oc_details{
    cursor: pointer;
}

.remove-user{
    cursor: pointer;
}

.delete_hod{
    cursor: pointer;
}

.add_cc{
    cursor: pointer;
}

.remove-cc{
    cursor: pointer;
}

.add_emp{
    cursor: pointer;
}

.del_emp{
    cursor: pointer;
}


