
.delete_location{
    cursor: pointer;
}

#add_location_ico{
    cursor: pointer;
}

#add_department_ico{
    cursor: pointer;
}

.remove-user{
    cursor: pointer;
}

.delete_hod{
    cursor: pointer;
}

.add_cc{
    cursor: pointer;
}

.remove-cc{
    cursor: pointer;
}

.padding-sides{
    padding-left:20px;
    padding-right:20px;
}